{
  "extends": ["airbnb-base", "prettier", "plugin:react/recommended"],
  "plugins": ["react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "import/extensions": "off",
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "no-duplicate-imports": "error",
    "import/no-named-as-default": "off",
    "no-underscore-dangle": ["off", { "allow": ["id"] }]
  }
}
